body {
	margin: 0.5cm; 
	line-height: 0.7cm;
	word-spacing: 0.5mm;
	color: black;
	background: #F4E2CF
}

h1 {
  font-size:25pt;
  font-weight: bold;
}

h3 {
  font-size:15pt;
  font-weight:bold;
}

p{
	font-style: italic;
	font-size:12pt;
}
table{
	font-style: italic;
	font-size:12pt;
}
#contenedor{
	width: 1100px;
	margin: 0 auto;
}

#menu{
	float: left;
	width: 150px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#menu  ul {
	list-style: none;
	padding: 0;
}

#menu li a:link, #menu li a:visited {
	color: #FFFFFF;
	display: block;
	background:  url(menu.png);
	padding: 5px 10px;
	text-decoration: none;
}

	
#menu li a:hover {
	color: #9AE7CC;
	background:  url(menu.png) 0 -40px;
	padding: 5px 10px;
	text-decoration: none;
}


#contenido {
	float: left;
  	width: 800px; 
}

#pie {
  clear: both;  
}